#board {
    display: flex;
    flex-direction: column; /* Arrange rows vertically */
    margin: 0 auto;
    width: fit-content;
  }
  
  .row {
    display: flex; /* Arrange cells in a row horizontally */
  }
  
  app-cell {
    flex: 1 0 100px; /* Adjust this based on the desired size of your cells */
    margin: 5px;
    box-sizing: border-box;
  }
  
  
  
  button {
    display: block;
    margin: 20px auto;
  }
  